extends layout

block content
  h1= DUMO
  div.newProject
    form(action = '/createProject' method = 'post')
      input(name ='projectName' placeholder = 'Enter new Project')
      input(name ='projectDescription' placeholder = 'Enter  Description')
      button Submit

  table.table
    each project in allProjects
      tr
        td
          form(contenteditable=true action='/changeProjectName/' + project.project_id method='post') #{project.project_name}
            input(name ='changeName' placeholder = 'Change Name')
            button.btn.btn Submit


        td(contenteditable=true action='') #{project.project_description}

        td.deleteButton
          form(action='/deleteProject/' + project.project_id method='post')
            button.btn.btn-danger X

        td.deleteButton
          button up 
          button down
